*{
    padding: 0;
    margin:0;
    list-style: none;
}
.wrap{
    width: 500px;
    height: 500px;
}
.btn{
    width:90%;
    height: 30px;
    margin: auto;
    font-size: 18px;
}
.btn1{
    float: left;
    width: 49%;
    height:30px;
    font-size:20px;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
}
.btn2{
    float: left;
    width: 49%;
    height:30px;
    font-size:20px;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 3px solid white;
}
.line{
    float: left;
    width: 1px;
    height: 20px;
    background: #e5e5e5;
    margin-top: 5px;
}
.btn3{
    float: left;
    width: 49%;
    height:30px;
    font-size:20px;
    line-height: 30px;
    text-align: center;
    outline: none;
    border: none;
    background: red;
    border-bottom: 3px solid red;
}